
@using Projeto01.Areas.Seguranca.Data
@model PapelEditModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Alteração de usuários em um PAPEL";
}

@Html.ValidationSummary()
@using (Html.BeginForm())
{
    <input type="hidden" name="nomePapel" value="@Model.Papel.Name" />
    <div class="card border border-primary">
        <div class="card-header text-uppercase text-white font-weight-bold bg-primary">Adicionar para @Model.Papel.Name</div>
        <table class="table table-striped">
            @if (Model.NaoMembros.Count() == 0)
            {
                <tr><td colspan="2">Todos os usuários são membros</td></tr>
            }
            else
            {
                <tr><td>Usuários</td><td>Adicionar ao Papel</td></tr>
                foreach (Usuario usuario in Model.NaoMembros)
                {
                    <tr>
                        <td>@usuario.UserName</td>
                        <td>
                            <input class="form-check-input" type="checkbox" name="IdsParaAdicionar" value="@usuario.Id">
                        </td>
                    </tr>
                }
            }
        </table>
    </div>

    <div class="card border border-primary mt-4">
        <div class="card-header text-uppercase text-white font-weight-bold bg-primary">Remover de @Model.Papel.Name</div>
        <table class="table table-striped">
            @if (Model.Membros.Count() == 0)
            {
                <tr><td colspan="2">Sem usuários membros</td></tr>
            }
            else
            {
                <tr><td>Usuários</td><td>Remover do Papel</td></tr>
                foreach (Usuario usuario in Model.Membros)
                {
                    <tr>
                        <td>@usuario.UserName</td>
                        <td>
                            <input type="checkbox" name="IdsParaRemover" value="@usuario.Id">
                        </td>
                    </tr>
                }
            }
        </table>
            <div class="card-footer bg-light">
                    <button type="submit" class="btn btn-info">Gravar alterações</button>
                    @Html.ActionLink("Cancelar", "Index", null, new { @class = "btn btn-danger" })
            </div>
    </div>
}